<html>
    <head>
            <title>
                TO Do App
            </title>
    </head>
    <body>
        <h1>To Do App</h1>
        <form action="/create" method="POST">
            <input type="text" placeholder="What do you need to do" name="title">
            <input type="text" placeholder="category" name="category">
            <input type="date" placeholder="when is the event" name="date">
            <button type="submit">ADD  TASK</button>
        </form>
        <br>
        <br>
        <ul>
            <% for(i of items) {%>
                <li>
                    <p><%= i.title%></p>
                    <p><%= i.category%></p>
                    <p><%= i.date%></p>
                </li>
            <%}%>
        </ul>
    </body>
</html>